/* General */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}
body::-webkit-scrollbar {
  display: none;
}

/* Navbar Styles */
.navbar {
  background-color: black;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-logo img {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
  color: rgb(195, 13, 13);
}

.navbar-icons {
  display: flex;
  gap: 1.5rem;
}

.navbar-cart,
.navbar-login {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 50px;
}

.burger-menu .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

.search-product {
  background-color: #555;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px;
  color: white;
}

.search-product input {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  outline: none;
}

.search-product input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.navbar input#searchInput {
  background-color: #333;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 15px;
  color: white;
  outline: none;
}

#searchInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Landing Page Styles */
.landing-page {
  background-image: url(/pweb-js-P25-2024/img/shoes-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content {
  text-align: center;
  color: black;
}

.landing-content h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.landing-content p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.landing-btn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
}

.landing-btn:hover {
  background-color: darkblue;
  text-decoration: underline;
}

/* About Us Section Styles */
.about-background {
  background-color: whitesmoke;
}

.about-section {
  padding: 4rem 0;
  background-color: whitesmoke;
  transform: translateX(-50px);
}

.about-section.show {
  opacity: 1;
  transform: translateX(0);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.about-image {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.about-image.show {
  opacity: 1;
  transform: translateX(0);
}

.about-image img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 600px;
  padding-left: 2rem;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.about-content.show {
  opacity: 1;
  transform: translateX(0);
}

.about-content h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: black;
  margin-bottom: 1.5rem;
}

.about-btn {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.about-btn:hover {
  background-color: darkblue;
  text-decoration: underline;
}

/* Filter Controls Styles */
.filter-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.filter-controls label {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-controls select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
}

/* Parallax Gap Section */
.parallax-gap {
  position: relative;
  height: 3px;
  overflow: hidden;
  margin-bottom: 300px;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.parallax-background img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: 800px;
  transform: translate(-50%, -50%);
  z-index: -3;
}

/* Products Page Styles */
.products-page {
  padding: 50px 0;
  background-color: whitesmoke;
}

.products-header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 48px;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-bottom.show {
  opacity: 1;
  transform: translateY(0);
}

.products-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-item {
  background-color: white;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-item p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.product-item:hover {
  transform: scale(1.05);
}

/* Trigger Checkout Button */
.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.add-to-cart-btn:hover {
  background-color: darkblue;
  text-decoration: underline;
  transform: scale(1.05);
}

/* Cart if Non Add Section Styling */
.cart-background {
  background-color: whitesmoke;
}

.cart-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-header h2 {
  font-size: 24px;
  color: black;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

/* Cart Item if Add Styling */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-info {
  flex: 1;
  margin-left: 15px;
}

.cart-item-info h4 {
  margin: 0;
  font-size: 18px;
  color: black;
}

.cart-item-info p {
  margin: 5px 0;
  font-size: 14px;
  color: black;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.remove-item-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.remove-item-btn:hover {
  background-color: rgb(195, 13, 13);
  transform: scale(1.05);
}

.increase-quantity-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.increase-quantity-btn:hover {
  background-color: orange;
  transform: scale(1.05);
}

.decrease-quantity-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.decrease-quantity-btn:hover {
  background-color: orange;
  transform: scale(1.05);
}

/* Cart Styling Final*/
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.cart-total h3 {
  margin: 0;
}

.cart-total #total-price {
  color: rgb(195, 13, 13);
}

/* Checkout Button Styling */
#checkout-btn {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#checkout-btn:hover {
  background-color: darkblue;
  text-decoration: underline;
  transform: scale(1.05);
}

/* Comment Section */
.comments-form {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.comments-form h3 {
  margin-bottom: 2rem;
  font-size: 48px;
  color: black;
}

.comments-form input,
.comments-form textarea {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1rem;
  transition: border 0.3s;
}

.comments-form input:focus,
.comments-form textarea:focus {
  border: 1px solid black;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 100px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: darkblue;
  text-decoration: underline;
  transform: scale(1.05);
}

/* animasi leave a review */
.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-bottom.show {
  opacity: 1;
  transform: translateY(0);
}

/* Footer Styles */
.footer {
  color: white;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.background-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.background-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 5s ease-in-out, transform 8s ease-in-out;
}

.background-slideshow img.active {
  opacity: 1;
  transform: scale(1.1);
}

.background-slideshow img.out {
  opacity: 0;
  transform: scale(1);
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.footer-about,
.footer-links,
.footer-social {
  max-width: 300px;
  margin: 1rem 0;
}

.footer-about h3,
.footer-links h3,
.footer-social h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.75rem;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: rgb(195, 13, 13); /* Tomato color on hover */
  text-decoration: underline;
}

.footer-social a {
  display: inline-block;
  color: white;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: transform 0.3s ease;
}

.footer-social a:hover {
  transform: scale(1.1); /* Slight enlarge on hover */
  color: rgb(195, 13, 13);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #ddd;
  position: relative;
  z-index: 2;
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .navbar {
    width: 100%;
    border-radius: 0;
    top: 0;
  }

  .landing-content h1 {
    font-size: 2.5rem;
  }

  .landing-content p {
    font-size: 1rem;
  }

  .landing-btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }

  .about-content h2 {
    font-size: 2rem;
  }

  .products-header {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .landing-content h1 {
    font-size: 2.5rem;
  }

  .landing-content p {
    font-size: 1rem;
  }
  .comments-section {
    padding: 0 10px;
    gap: 1rem;
  }

  .comment-item h4 {
    font-size: 1.25rem;
  }

  .comment-item p {
    font-size: 0.95rem;
  }

  .comments-form h3 {
    font-size: 1.5rem;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-links,
  .footer-social {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 95%;
  }

  .landing-content h1 {
    font-size: 4rem;
  }

  .landing-content p {
    font-size: 1.5rem;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-image,
  .about-content {
    max-width: 100%;
    padding: 0 1rem;
  }

  .about-content {
    margin-top: 2rem;
  }
}
